/*Todas as páginas*/
*{
	margin:0;
	border:0;
	padding:0;
}
* [disabled]{
	cursor:default;
}
.divideBig{
	border:1px solid #333;
	margin-top:10px;
	margin-bottom:10px;
}
.divideSmall{
	border:0.5px solid #333;
	margin:10px 20px 10px 20px;
}
html, body{
	text-align:center;
	margin:0 auto;
	margin-bottom:10px;
}
table{
	margin:0 auto;
}
/*Opções de input e formulário*/
input, select{
	width:200px;
	height:50px;
}
input[type="image"]{
	width:50px;
	height:50px;
}
input[type="submit"], input[type="button"]{
	padding: 15px 15px;
	color: #FFF;
	background-color: #1375DD;
	width: 20%;
	font-size: 19px;
	border-style: none;
	cursor: pointer;
}
input[type="date"]::-webkit-inner-spin-button{
	display:none;
}
img{
	width:25px;
}
textarea {
    resize: none;
}

/*Classes*/
.semCor{
	background-color: #FFF!important;
}
.tdImagem{
	text-align:center;
}
.menuAbove{
	display:flex;
	justify-content:space-between;
	align-items:center;
}
.tabela input{
	width:30px;
	height:30px;
}
.saldoAtual{
	font-size:30px;
	color:#333;
}

/*Quanto tempo até o prazo*/
.atrasado{
	background-color: #FF0101;
	color:#FFF;
}
.naSemana{
	background-color: #686868;
	color:#FFF;
}
.hoje{
	background-color: #ffb600;
	color:#FFF;
}
.aPagar{
	background-color: #0359af;
	color: #FFF;
}
.pago{
	background-color: #008000;
	color:#FFF;
}
.inputESubmit{
	display:inline-block;
	border:2px solid #F1F1F1;
	padding:1px;
}
.inputESubmit input, .inputESubmit select{
	width:100%!important;
}
.inputESubmit input[type="date"], .inputESubmit select{
	font-size:16px;
}
.datas{
	display:inline-block;
	width:100%;
}
.voltar{
	display:inline-block;
	margin-top:10px;
	width:300px;
	margin-bottom:10px;
}
.adicionar input, .adicionar select{
	width:200px;
	height:50px;
}

.dividir{
	flex-grow:1;
	flex-shrink:1;
	flex-basis:200px;
}
.voltar{
	position:fixed;
	bottom:10px;
	right:10px;
	width:100px;
}
.voltar input{
	width:100%;
}
.logout{
	position:fixed;
	bottom:10px;
	right:10px;
	width:100px;
}
.logout input{
	width:100%;
}
.adm{
	position:fixed;
	bottom:10px;
	left:10px;
	width:200px;
}
.adm input{
	width:100%;
}

/*Categorias*/
.receita{
	background-color: #008000;
	color: #FFF;
}
.despesa{
	background-color: #FF0101;
	color: #FFF;
}
.ambos{
	background-color: #686868;
	color: #FFF;
}
.newCat{
	font-size: 16px;
}
.add{
	width: 20px;
}